# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.parcel-cache
/dist

# testing
# add test ignores here if running tests

# production
# add final build ignores if necessary

# misc
